# Azure AD Configuration
VITE_AZURE_COMPANY_CLIENT_ID=618098ec-e3e8-4d7b-a718-c10c23e82407
VITE_AZURE_TENANT_ID=d6bb4e04-1f12-4303-95a7-71d94f834f0a

# Supabase Configuration
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
